anyio==4.13.0
asgiref==3.11.1
ast_serialize==0.5.0
asttokens==3.0.1
black==26.5.1
build==1.5.0
CacheControl==0.14.4
certifi==2026.5.20
charset-normalizer==3.4.7
cleo==2.1.0
click==8.4.1
colorama==0.4.6
crashtest==0.4.1
decorator==5.3.1
distlib==0.4.3
Django==6.0.5
dulwich==1.2.6
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.29.4
findpython==0.8.0
flake8==7.3.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
installer==1.0.1
ipython==9.14.0
ipython_pygments_lexers==1.1.1
isort==8.0.1
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.5.0
jedi==0.20.0
keyring==25.7.0
kwargs==0.0.0.dev0
librt==0.11.0
matplotlib-inline==0.2.2
mccabe==0.7.0
more-itertools==11.1.0
msgpack==1.2.0
mypy==2.1.0
mypy_extensions==1.1.0
packaging==26.2
parso==0.8.7
pathspec==1.1.1
pbs-installer==2026.6.10
pillow==12.2.0
pkginfo==1.12.1.2
platformdirs==4.10.0
poetry==2.4.1
poetry-core==2.4.0
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg2==2.9.11
psycopg2-binary==2.9.12
pure_eval==0.2.3
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.20.0
pyproject_hooks==1.2.0
PySocks==1.7.1
python-discovery==1.4.2
python-dotenv==1.2.2
pytokens==0.4.1
pywin32-ctypes==0.2.3
RapidFuzz==3.14.5
redis==8.0.1
requests==2.34.2
requests-toolbelt==1.0.0
shellingham==1.5.4
sqlparse==0.5.5
stack-data==0.6.3
tomlkit==0.15.0
traitlets==5.15.0
trove-classifiers==2026.6.1.19
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.7.0
virtualenv==21.5.0
wcwidth==0.7.0
